<br>
<!-- <p-accordion st>
  <p-accordionTab header="Accordion1" [selected]="true">
    <p>For help getting started with a new Angular app, check out the Angular CLI. For existing apps, follow these steps to
      begin using Angular Material. Step 1: Install Angular Material, Angular CDK and Angular Animations You can use either
      the npm or yarn command-line tool to install packages. Use whichever is appropriate for your project in the examples
      below.
    </p>
  </p-accordionTab>
  <p-accordionTab header="Accordion2">
    <p>
      npm install --save @angular/material @angular/cdk @angular/animations
    </p>

  </p-accordionTab>
</p-accordion>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->

<button type="button" (click)="getDetails()">Details</button>

<table>
  <thead>
    <th>Name</th>
    <th>Index</th>
  </thead>
  <tbody>
    <tr *ngFor="let hero of herosData">
      <td>{{hero.name}}</td>
    </tr>
  </tbody>
</table>