<div class="logo">
  <img src="../../assets/angular.png">
</div>
<div class="container">

  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <h5>Login Form</h5>
      <form (ngSubmit)="login();">
        <div class="form-group">
          <label for="exampleInputEmail1">UserName</label>
          <input type="text" class="form-control" [(ngModel)]="username" name="username"  placeholder="Enter UserName">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control"  [(ngModel)]="password" name="password" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>



</div>


<app-footer></app-footer>