img{
    position: relative;
    margin-left: 35%;
    width:  400px;
    height: 250px;
    background-position: 80% 80%;
    background-repeat:   no-repeat;
    background-size:     auto;
}
h3{
    margin-left: 35%;
    color: rgb(78, 175, 179);
}