<div>
    <nav class="navbar-header">
        <span class="top-nav-ico">
            <img src="../../assets/angular.png" height="80px;">
        </span>
        <span style="float:right;margin-top: 5px;">
            <button type="button" class="btn btn-primary" (click)="Logout()">Logout</button>
        </span>
    </nav>
    <div id="sidebar" class="side-navbar">

        <ul class="list-unstyled items">
            <li>
                <a class="language" routerLink="/dashboard/services">Services</a>
            </li>

            <li>
                <a class="language" routerLink="/dashboard/photos">Forms</a>
            </li>
            <li>
                <a class="language" routerLink="/dashboard/letter">Angular Material Components</a>
            </li>
            <!-- <li>
            <a class="language" routerLink="/dashboard/video">Videos</a>
        </li>-->
            <li>
                <a class="language" routerLink="/dashboard/scroll">Scroll</a>
            </li>
            <li>
                <a class="language" routerLink="/dashboard/parent">Parent</a>
            </li>
            <li>
                <a class="language" (click)="getDetails()">Details</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid page-content">
        <div class="page-panel">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>