/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.navbar-header {
  background-color: #3b5998;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}
.dynamictab {
  /* padding:5px; */
  /* width:40px; */
  background-color: rgb(165, 206, 0);
  border: white;
  border-bottom: none;
  margin-right: 3px;
  position: relative;
  cursor: pointer;
}
.tab-close {
  position: absolute;
  right: 5px;
  color: rgb(17, 101, 211);
  /* background-color: white; */
}
